@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
slider{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: yellow;
    overflow: hidden;
}
slider > *{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    animation: slide 12s infinite;
    overflow: hidden;
}
slide:nth-child(1){
    left: 0%;
    animation-delay: -1s;
    background-image: url('fiz.jpg');
    background-size: cover;
    background-position: center;
}
slide:nth-child(2){
    left: 0%;
    animation-delay: 2s;
    background-image: url('kamienie.jpg');
    background-size: cover;
    background-position: center;
}
slide:nth-child(3){
    left: 0%;
    animation-delay: 5s;
    background-image: url('cw.jpg');
    background-size: cover;
    background-position: center;
 
}
slide:nth-child(4){
    left: 0%;
    animation-delay: 8s;
    background-image: url('kol.jpg');
    background-size: cover;
    background-position: center;
}
@keyframes slide {
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25% {left: 0%;}
    30% {left: -100%; width: 100%;}
    30.001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}
.banner{
    position: relative;
    height: 55vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 197);
}
.banner img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
.banner .content{
    bottom: 50px;
    position: relative;
    text-align: center;
}
.banner .content h2{
    font-size: 55px;
    color: rgb(73, 73, 202);
    font-family: 'Baloo Paaji 2';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.banner .content p{
    font-size: 28px;
    color: rgb(73, 73, 202);
    font-family: 'Baloo Paaji 2';
    text-transform: uppercase, cursive;
    font-weight: bold;
    letter-spacing: 1px;
}
.lab{
    float: right;
    color: white;
    margin-right: 25px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
.lab:hover{
    text-shadow: 2px 2px black;
}
.nav{
    width: 100%;
    padding: 0;
    background-color: rgb(173, 42, 42);
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: inline-block;
    position: relative;
}
.nav ol{
    list-style-type: none;
    display: flex;
}
.nav a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 20px;
    text-align: center;
    font-family: 'Space Mono', monospace;
    transition: background .2s;
}
.nav a:hover{
    background-color: rgb(77, 32, 32);
    border-radius: 10px;
}
.box h2{
    text-align: center;
}
.fizjo{
    font-size: 20px;
    width: 100%;
    height: 50vh;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.fizjo p{
    margin: 20px 20px;
}
.fizjo ul{
    padding-left: 50px;
}
.fizjo .box{
    width: 100%;
}
.box h2{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
.uslugi{
    background-color: #ef5350;
    height: 50vh;
    width: 100%;
    position: relative;
}
.tekst{
    font-weight: bold;
}
.par{
    font-size: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.tab1{
    width: 100%;
    padding: 10px;
}
.tab1 table{
    margin: 0 auto;
}
.tab1 td{
    border: none;
}
.ustr1{
    font-weight: bold;
    font-size: 24px;
}
.ustr2{
    text-align: left;
    font-size: 20px;
    text-align: center;
}
.heading{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 36px;
    letter-spacing: 1px;
}
.cennik{
    background-color: #ff867c;
    height: 50vh;
    width: 100%;
    display: inline-block;
    position: relative;
} 
.tab table{
    margin: 0px auto;
    width: 60%;
    background-color: #b61827;
    color: white;
}
.tab table, td{
    border: 1px solid black;
    border-collapse: collapse;
}
td{
    padding: 10px;
}
tr{
    text-align: center;
}
.tr1{
    font-weight: bold;
    font-size: 24px;
}
.tr2{
    text-align: left;
    font-size: 20px;
    text-align: center;
}
.galeria{
    height: 75vh;
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: #ef5350;
}
.gal{
    margin-left: 170px;
}
.gal img{
    transition: 1s;
    padding: 20px;
    border-radius: 50px;
    width: 450px;
    height: 225px;
}
.gal img:hover{
    transform: rotate(720deg);
}
.kontakt{
    background-color: #ff867c;
    height: 60vh;
    width: 100%;
    position: relative;
    display: inline-block;
    max-height: 60vh;
}
.kon{
    max-width: 900px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.kontext{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 15px 0;
    border: 1px solid black;
    background: white;
    padding: 20px 40px;
}
.txarea{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 40px;
    border: 1px dashed black;
}
.but{
    margin-right: 30px;
    margin-top: 10px;
    float: right;
    border: 1px solid black;
    background-color: rgb(82, 76, 76);
    color: white;
}

@media screen and (max-width: 1500px){
    .galeria{
        width: 100%;
        height: 105vh;
    }
    .gal img{
        width: 400px;
        height: 200px;
    }
    .cennik{
        width: 100%;
        height: 60vh;
    }
}
@media screen and (max-width: 1200px){  
    .cennik{
        width: 100%;
        height: 70vh;
    }
    .galeria{
        width: 100%;
        height: 100vh;
    }
    .uslugi{
        width: 100%;
        height: 60vh;
    }
    .gal img{
        width: 350px;
        height: 175px;
    }
}
@media screen and (max-width: 1050px){
    .gal img{
        width: 300px;
        height: 150px;
    }
}
@media screen and (max-width: 860px){
    .galeria{
        height: 160vh;
    }
}
@media screen and (max-width: 700px){
    .fizjo{
        width: 100%;
        height: 80vh;
    }
    .cennik{
        width: 100%;
        height: 100vh;
    }
    .galeria{
        width: 100%;
        height: 140vh;
    }
    .gal img{
        width: 250px;
        height: 125px;
    }
    .gal{
        margin-left: 45px;
    }
    .uslugi{
        height: 70vh;
    }
}
@media screen and (max-width: 765px){
    .nav ol{
        flex-direction: column;
        padding: 0;
    }
    .lab{
        display: none;
    }
    .cennik{
        width:100%;
        height: 80vh;
    }
    .par{
        padding: 10px;
    }
}
@media screen and (max-width: 503px){
    .fizjo{
        height: 120vh;
    }
    .uslugi{
        height: 120vh;
    }
    .cennik{
        height: 85vh;
    }
    .galeria{
        height: 165vh;
    }
    .kontakt{
        height: 85vh;
    }
    .tab .tr1{
        font-size: 18px;
    }
    .tab .tr2{
        font-size: 14px;
    }
    .cennik{
        height: 75vh;
    }
    .fizjo p{
        font-size: 18px;
    }
    .fizjo li{
        font-size: 17px;
    }
    .content h2{
        margin: 90px 0 0 0;
    }
}
@media screen and (max-width: 400px){
    .fizjo{
        height: 110vh;
    }
    .uslugi{
        height: 110vh;
    }
    .cennik{
        height: 85vh;
    }
    .galeria{
        height: 165vh;
    }
    .kontakt{
        height: 85vh;
    }
    .par{
        font-size: 14px;
    }
    .ustr1{
        font-size: 14px;
    }
    .ustr2{
        font-size: 12px;
    }
    .banner .content h2{
        font-size: 30px;
    }
    .banner .content p{
        font-size: 25px;
    }
    @media screen and (max-height: 500px){
        .fizjo{
            height: 130vh;
        }
        .uslugi{
            height: 125vh;
        }
        .cennik{
            height: 120vh;
        }
        .galeria{
            height: 255vh;
        }
        .kontakt{
            height: 115vh;
        }
    }
}